build/
release/
release+/
Release+/
Release/
debug/
Debug/
Default/
python-environment/
build_*
CMakeFiles
.project
.idea
.cproject
*.orig
*.autosave
CMakeLists.txt.user

Core/Segmentation/MaskRCNN/numpy
__pycache__

deps/Mask_RCNN/
deps/OpenNI2/
deps/Pangolin/
deps/boost/
deps/coco/
deps/densecrf/
deps/freetype-gl-cpp/
deps/gSLICr/
deps/opencv/
deps/toml11/
